.algButton {
    outline: none;
    width: 10%;
    border-radius: 5px;
    background-color: white;
    border: none;
}

.algButton:hover {
    background-color: gray;
    cursor: pointer;
}

.algButton:focus {
    background-color: lightgray;
}
